<div class="col-md-8">
	<h2>
		Ajouter un bâtiment...
	</h2>
	<div class="col-md-7 col-md-offset-1" ng-controller="ctrlIdEtabl">
		<a href="#/{{idEtabl}}/ajout_bat/ancien">
			<button class="btn">
				.... ayant été récemment supprimé de votre inventaire
			</button>
		</a>
		<br><br>
		<a href="#/{{idEtabl}}/ajout_bat/autre_etabl">
			<button class="btn">
				... utilisé, ou ayant été utilisé, par un autre établissement
			</button>
		</a>
		<br><br>
		<a href="#/{{idEtabl}}/ajout_bat/nouveau">
			<button class="btn">
				... neuf
			</button>
		</a>
	</div>
</div>
